img {
    float: right;
}
body{
    width: 70%; margin: 0 auto;
}

#mainTable{
    width:80%;
}
#mainTable p{
    font-size: small;
    clear: both;
    width: 60%;
    margin: 0 auto;
}
#gary{
    width: 200px;
    margin: 0 auto;
    display: block;
    float: none;
}
#courseTable{
    border: 1px solid purple;
    
}
#courseTable tr td:nth-child(1),#courseTable tr td:nth-child(3) {
    text-align: center;
}
#courseTable tr:nth-child(even){
    background: chartreuse;
}
#courseTable tr:nth-child(odd){
    background: purple;
}


.one{
border: 1px solid white;
}
.two{
    border: 1px solid white;
}
.three{
    border: 1px solid white;
}
.four{
    border: 1px solid white;
}
.five{
    border: 1px solid white;
}
.six{
    border: 1px solid white;
}

ol{
    list-style-type:lower-alpha; 
}
.best{
    font-style: italic;
}